*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 11, 184);
    color: white;
    min-height: 100vh;
}

nav{
    background-color: rgb(47, 38, 38);
}

 nav #title{
    text-align: center;
    padding: 15px;
    text-shadow: 5px 2px 2px rgb(0, 0, 0);
}   

nav h1{
    font-size: 50px;
}

nav p{
    padding-top: 7px;
    font-size: 20px;
}

nav ul{
    display: flex;
    padding: 10px;
    list-style: none;
    font-size: 20px;
}

nav li{
  
    padding: 0px 20px ;
    border-right: 1px solid white
    
}
 nav li:last-child{
    border-right: none;
}

nav li:hover{
    background-color: rgba(255, 255, 255, 0.288);
    transition: 0.4s;
}

nav a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    flex: 1;
}

section.card{

    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 30px;
    margin: 10px;
    width: 90%;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}

.card p{
    width: 100%;
}









footer{
    height: 30px;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 5px;
}

