 body {background-color: aqua;
                font-size:20p;        
            }
        h1 {
            color: darkmagenta;
        }
        h2 { color: rgb(234, 3, 122);}
        p { text-align: justify;}
       
  